
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Outfit:wght@100..900&family=Prata&display=swap');


@import "tailwindcss";
/* to underline on curent page */
a.active hr{
    display: block; 
}
*{font-family: MomoSignature;}
*{font-family: Outfit;}
.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
  display:none;
}

@media(max-width:640px){
  a.active{
    background-color: black;
    color: white;
  }
}

